<div class="animated fadeIn" *ngIf='dataLoaded'>

  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Material: {{currentStock.materialId}}</h4>
        </div>
        <div class="card-body">
          Supplier: {{currentStock.supplierId}}
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-8">
      <!-- <div class="card-columns cols-2"> -->
      <div class="card">
        <div class="card-header">
          Line Chart
          <div class="card-header-actions">
              <button type="button" class="btn btn-secondary" (click) = "adjustModal.show()">Adjust Stock</button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColours" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <!--  </div> -->
      </div>
    </div>

    <div class="col-sm-6 col-md-4">

      <div class="card">
        <div class="card-header">
          General Information
        </div>
        <div class="card-body">

          <h4>Stock Information </h4>
          <div class=row>
            <div class="col">
              Max.:
            </div>
            <div class="col">
              {{currentStock.max}} Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Current Stock
            </div>
            <div class="col">
              {{currentStock.quantity}} Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Min.:
            </div>
            <div class="col">
              {{currentStock.min}} Units
            </div>
          </div>
          <br>
          <h4>Note</h4>
          <div class=row>
            <div class="col">
              {{currentStock.note}}
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          Shippings in transit
        </div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>ShippingId</th>
                <th>Quantity</th>
                <th>Sent on</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shipping of shippings; let i = index" (click)="setModalData(i); largeModal.show()" class="clickable">
                <td>{{shipping.shippingId}}</td>
                <td>{{shipping.quantity}}</td>
                <td>
                  <span *ngIf="shipping.sentDate; else notSent">{{shipping.sentDate}}</span>
                  <ng-template #notSent>
                    <span class="badge badge-warning">Not Sent</span>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" *ngIf="modalData">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Shipping ID: {{modalData.shippingId}}</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class=row>
          <div class="col">
            State
          </div>
          <div class="col">
            <span *ngIf="modalData.sentDate; else notSent"><span class="badge badge-warning">Sent</span></span>
            <ng-template #notSent>
              <span class="badge badge-warning">Not Sent</span>
            </ng-template>
          </div>
        </div>

        <div *ngIf="modalData.sentDate" class=row>
          <div class="col">
            Sent on
          </div>
          <div class="col">
            {{modalData.sentDate}}
          </div>
        </div>

        <div class=row>
          <div class="col">
            Invoice ID
          </div>
          <div class="col">
            {{modalData.invoiceId}}
            <div *ngIf="!modalData.invoiceId">
              No Invoice Available
            </div>
          </div>
        </div>

        <div class=row>
          <div class="col">
            Quantity
          </div>
          <div class="col">
            {{modalData.quantity}}
          </div>
        </div>



        <div class=row>
          <div class="col">
            Note
          </div>
          <div class="col">
            {{modalData.note}}
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="modalData.sentDate" (click)="downloadInvoice()">Download
          Invoice</button>
          <button type="button" class="btn btn-warning" *ngIf="modalData.sentDate" (click)="receiveShipping(); largeModal.hide()">Receive Shipping</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #adjustModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" *ngIf="modalData">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Material Id: {{currentStock.materialId}}</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class=row>
          <div class="col">
            State
          </div>
          <div class="col">
            <span *ngIf="modalData.sentDate; else notSent"><span class="badge badge-warning">Sent</span></span>
            <ng-template #notSent>
              <span class="badge badge-warning">Not Sent</span>
            </ng-template>
          </div>
        </div>

        <div *ngIf="modalData.sentDate" class=row>
          <div class="col">
            Sent on
          </div>
          <div class="col">
            {{modalData.sentDate}}
          </div>
        </div>

        <div class=row>
          <div class="col">
            Invoice ID
          </div>
          <div class="col">
            {{modalData.invoiceId}}
            <div *ngIf="!modalData.invoiceId">
              No Invoice Available
            </div>
          </div>
        </div>

        <div class=row>
          <div class="col">
            Quantity
          </div>
          <div class="col">
            {{modalData.quantity}}
          </div>
        </div>



        <div class=row>
          <div class="col">
            Note
          </div>
          <div class="col">
            {{modalData.note}}
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="modalData.sentDate" (click)="downloadInvoice()">Download
          Invoice</button>
          <button type="button" class="btn btn-warning" *ngIf="modalData.sentDate" (click)="receiveShipping(); largeModal.hide()">Receive Shipping</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->