<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Material: 23123123123</h4>
        </div>
        <div class="card-body">
          Location: xxx
          Supplier: xxx
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-8">
      <!-- <div class="card-columns cols-2"> -->
      <div class="card">
        <div class="card-header">
          Line Chart
          <div class="card-header-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColours" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <!--  </div> -->
      </div>
    </div>

    <div class="col-sm-6 col-md-4">

      <div class="card">
        <div class="card-header">
          General Information
        </div>
        <div class="card-body">

          <h4>Stock Information </h4>
          <div class=row>
            <div class="col">
              Max.:
            </div>
            <div class="col">
              555 Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Current Stock
            </div>
            <div class="col">
              232 Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Min.:
            </div>
            <div class="col">
              200 Units
            </div>
          </div>
          <br>
          <h4>Stock Information </h4>
          <div class=row>
            <div class="col">
              Max.:
            </div>
            <div class="col">
              555 Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Current Stock
            </div>
            <div class="col">
              232 Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Min.:
            </div>
            <div class="col">
              200 Units
            </div>
          </div>
        </div>
      </div>


      <div class="card">
          <div class="card-header">
            Shipping Information
          </div>
          <div class="card-body">
  
            <h4>Stock Information </h4>
            <div class=row>
              <div class="col">
                Max.:
              </div>
              <div class="col">
                555 Units
              </div>
            </div>
  
            <div class=row>
              <div class="col">
                Current Stock
              </div>
              <div class="col">
                232 Units
              </div>
            </div>
  
            <div class=row>
              <div class="col">
                Min.:
              </div>
              <div class="col">
                200 Units
              </div>
            </div>
            <br>
            <h4>Stock Information </h4>
            <div class=row>
              <div class="col">
                Max.:
              </div>
              <div class="col">
                555 Units
              </div>
            </div>
  
            <div class=row>
              <div class="col">
                Current Stock
              </div>
              <div class="col">
                232 Units
              </div>
            </div>
  
            <div class=row>
              <div class="col">
                Min.:
              </div>
              <div class="col">
                200 Units
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>