<div class="animated fadeIn" *ngIf='dataLoaded'>

  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Material: {{currentStock.materialId}}</h4>
        </div>
        <div class="card-body">
          <b>Customer:</b> {{currentStock.customerId}}
          <b>Supplier:</b> {{currentStock.supplierId}}

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-8">



      <div class="card animated fadeIn" *ngIf="cardSelecter == 'creditNote'">
        <div class="card-header">
          Credit Note Table
          <div class="card-header-actions">

            <button type="button" class="btn btn-secondary" (click)="createCreditNoteModal.show()">Create Credit Note</button>
            <button type="button" class="btn btn-primary" (click)="changeCard('history')">History</button>
            <button type="button" class="btn btn-primary" (click)="changeCard('forecast')">Forecast</button>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="card-body col-sm-12 col-md-12">
            <table class="table table-sm table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Credit Node Id</th>
                  <th>Start Date</th>
                  <th>Start Quantity</th>
                  <th>End Date</th>
                  <th>End Quantity</th>
                  <th>Total Withdrawal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let creditNote of currentStock.creditNoteHistory; let i = index" (click)=createPdf(i) class="clickable">
                  <td *ngIf="creditNote.creditNoteId">{{creditNote.creditNoteId}}</td>
                  <td *ngIf="creditNote.creditNoteId">{{creditNote.startDate}}</td>
                  <td *ngIf="creditNote.creditNoteId">{{creditNote.startQuantity}}</td>
                  <td *ngIf="creditNote.creditNoteId">{{creditNote.endDate}}</td>
                  <td *ngIf="creditNote.creditNoteId">{{creditNote.endQuantity}}</td>
                  <td *ngIf="creditNote.creditNoteId">{{creditNote.totalWithdrawal}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <button class="badge badge-primary" (click)="createForecastModal.show()">Add Forecast</button>
        </div>
      </div>

      <div class="card animated fadeIn" *ngIf="cardSelecter == 'forecast'">
        <div class="card-header">
          Forecast Table
          <div class="card-header-actions">
            <button type="button" class="btn btn-primary" (click)="changeCard('history')">History</button>
            <button type="button" class="btn btn-primary" (click)="changeCard('creditNote')">Credit Notes</button>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="card-body col-sm-12 col-md-12">
            <table class="table table-sm table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Month</th>
                  <th>Demand</th>
                  <th>MU</th>
                  <th>Status</th>
                  <th>Status Note</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let forecast of forecasts; let i = index">
                  <td>{{forecast.month}}</td>
                  <td>{{forecast.demand}}</td>
                  <td>Unit</td>
                  <td>
                    <div *ngIf="forecast.state=='1'">Not Approved</div>
                    <div *ngIf="forecast.state=='2'">Approved</div>
                    <div *ngIf="forecast.state=='3'">Declined</div>
                  </td>
                  <td>{{forecast.reason}}</td>
                  <td>
                    <button class="badge badge-primary" *ngIf="forecast.state =='1'" (click)="approveModal.show(); setForecastMonth(i)">Approve</button>
                    <button class="badge badge-warning" *ngIf="forecast.state =='1'" (click)="declineModal.show(); setForecastMonth(i)">Decline</button>
                    <span class="badge badge-secondary" *ngIf="forecast.state !='1'">No Action Required</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <button class="badge badge-primary" (click)="createForecastModal.show()">Add Forecast</button>
        </div>
      </div>

      <div class="card animated fadeIn" *ngIf="cardSelecter == 'history'">
        <div class="card-header">
          Line Chart
          <div class="card-header-actions">
            <button type="button" class="btn btn-secondary" (click)="withdrawStockModal.show()">Withdraw Stock</button>
            <button type="button" class="btn btn-secondary" (click)="adjustLimitsModal.show()">Adjust Limits</button>
            <button type="button" class="btn btn-primary" (click)="changeCard('forecast')">Forecast</button>
            <button type="button" class="btn btn-primary" (click)="changeCard('creditNote')">Credit Notes</button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColours"
              [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <!--  </div> -->
      </div>
    </div>

    <div class="col-sm-6 col-md-4">

      <div class="card">
        <div class="card-header">
          General Information
        </div>
        <div class="card-body">

          <h4>Stock Information </h4>
          <div class=row>
            <div class="col">
              Max.:
            </div>
            <div class="col">
              {{currentStock.max}} Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Current Stock
            </div>
            <div class="col">
              {{currentStock.quantity}} Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Min.:
            </div>
            <div class="col">
              {{currentStock.min}} Units
            </div>
          </div>

          <div class=row>
            <div class="col">
              Withdrawals:
            </div>
            <div class="col">
              {{currentStock.withdrawal}} Units
            </div>
          </div>

          <br>
          <h4>Note</h4>
          <div class=row>
            <div class="col">
              {{currentStock.note}}
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          Shipments in transit
        </div>
        <div class="card-body">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>ShipmentId</th>
                <th>Quantity</th>
                <th>Sent on</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shipment of shipments; let i = index" (click)="setModalData(i); largeModal.show()" class="clickable">
                <td>{{shipment.shipmentId}}</td>
                <td>{{shipment.quantity}}</td>
                <td>
                  <span *ngIf="shipment.sentDate; else notSent">{{shipment.sentDate}}</span>
                  <ng-template #notSent>
                    <span class="badge badge-warning">Not Sent</span>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" *ngIf="modalData">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Shipment ID: {{modalData.shipmentId}}</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class=row>
          <div class="col">
            State
          </div>
          <div class="col">
            <span *ngIf="modalData.sentDate; else notSent">
              <span class="badge badge-warning">Sent</span>
            </span>
            <ng-template #notSent>
              <span class="badge badge-warning">Not Sent</span>
            </ng-template>
          </div>
        </div>

        <div *ngIf="modalData.sentDate" class=row>
          <div class="col">
            Sent on
          </div>
          <div class="col">
            {{modalData.sentDate}}
          </div>
        </div>

        <div class=row>
          <div class="col">
            Invoice ID
          </div>
          <div class="col">
            {{modalData.invoiceId}}
            <div *ngIf="!modalData.invoiceId">
              No Invoice Available
            </div>
          </div>
        </div>

        <div class=row>
          <div class="col">
            Quantity
          </div>
          <div class="col">
            {{modalData.quantity}}
          </div>
        </div>



        <div class=row>
          <div class="col">
            Note
          </div>
          <div class="col">
            {{modalData.note}}
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="modalData.sentDate" (click)="downloadInvoice()">Download Invoice
        </button>
        <button type="button" class="btn btn-warning" *ngIf="modalData.sentDate" (click)="receiveShipment(); largeModal.hide()">Receive Shipment
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div bsModal #withdrawStockModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Withdraw from Stock</h4>
        <button type="button" class="close" (click)="withdrawStockModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                Withdrawals
                <div class="card-header-actions">
                </div>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" [formGroup]="withdrawStockForm">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="disabled-input">Withdraw Quantity</label>
                      <div class="col-md-9">
                        <input type="number" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter inital Quantity" formControlName="withdrawal">
                        <span class="help-block">Please enter the quantity to withdraw from stock</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="withdrawStockModal.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="submitWithdrawStockData(); withdrawStockModal.hide()">Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #createCreditNoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create new Credit Note</h4>
        <button type="button" class="close" (click)="createCreditNoteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                Credit Note
                <div class="card-header-actions">
                </div>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" [formGroup]="createCreditNoteForm">
                    <div class="form-group row">

                      <label class="col-md-3 col-form-label" for="disabled-input">Credit Note Id</label>
                      <div class="col-md-9">
                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter creditNoteId" formControlName="creditNoteId">
                        <span class="help-block">Please enter the specific creditNoteid</span>
                      </div>

                      <label class="col-md-3 col-form-label" for="disabled-input">Price</label>
                      <div class="col-md-9">
                        <input type="number" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter Price" formControlName="price">
                        <span class="help-block">Please enter the price per unit</span>
                      </div>

                      <label class="col-md-3 col-form-label" for="disabled-input">Private Collection</label>
                      <div class="col-md-9">
                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter Collection" formControlName="collection">
                        <span class="help-block">Please enter private collection</span>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="createCreditNoteModal.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="submitCreateCreditNoteData(); createCreditNoteModal.hide()">Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #adjustLimitsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Adjust Limits</h4>
        <button type="button" class="close" (click)="adjustLimitsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                Limits
                <div class="card-header-actions">
                </div>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" [formGroup]="adjustLimitsForm">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="disabled-input">New Min. Stock</label>
                      <div class="col-md-9">
                        <input type="number" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter inital Quantity" formControlName="min">
                        <span class="help-block">Please enter the minimum quantity in stock</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="disabled-input">New Max. Stock</label>
                      <div class="col-md-9">
                        <input type="number" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter inital Quantity" formControlName="max">
                        <span class="help-block">Please enter the maxmimum quantity in stock</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="adjustLimitsModal.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="submitAdjustLimitsData(); adjustLimitsModal.hide()">Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div bsModal #adjustModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Adjust Stock</h4>
        <button type="button" class="close" (click)="adjustModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                Stock
                <div class="card-header-actions">
                </div>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" [formGroup]="stockForm">


                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="disabled-input">New Quantity</label>
                      <div class="col-md-9">
                        <input type="number" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter inital Quantity"
                          formControlName="quantity">
                        <span class="help-block">The new quantity in stock</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Min. Stock</label>
                      <div class="col-md-9">
                        <input type="number" id="email-input" name="email-input" class="form-control" placeholder="Enter Min"
                          formControlName="min">
                        <span class="help-block">Please enter the minimum quantity in stock</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Max. Stock</label>
                      <div class="col-md-9">
                        <input type="number" id="email-input" name="email-input" class="form-control" placeholder="Enter Max"
                          formControlName="max">
                        <span class="help-block">Please enter the maxmimum quantity in stock</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="textarea-input">Note</label>
                      <div class="col-md-9">
                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="You can add some notes..."
                          formControlName="note"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="adjustModal.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="submitAdjustStockData(); adjustModal.hide()">Save
                changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div bsModal #approveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Approve Forecast</h4>
        <button type="button" class="close" (click)="approveModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="statusForm">
          <label>
            Please enter any additional information
          </label>
          <textarea id="textarea-input" name="textarea-input" rows="4" class="form-control" placeholder="Content.." formControlName="reason"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="approveModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="approveForecast(); approveModal.hide()">Approve</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #declineModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Decline Forecast</h4>
        <button type="button" class="close" (click)="declineModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="statusForm">
          <label>
            Please enter any additional information
          </label>
          <textarea id="textarea-input" name="textarea-input" rows="4" class="form-control" placeholder="Content.." formControlName="reason"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="declineModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="declineForecast(); declineModal.hide()">Decline</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div bsModal #createForecastModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Forecast</h4>
        <button type="button" class="close" (click)="createForecastModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                Stock
                <div class="card-header-actions">
                </div>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" [formGroup]="forecastDataForm">


                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="disabled-input">Month</label>
                      <div class="col-md-9">
                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Enter inital Quantity" formControlName="month">
                        <span class="help-block">Please enter forecast month</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Demand</label>
                      <div class="col-md-9">
                        <input type="number" id="email-input" name="email-input" class="form-control" placeholder="Enter Min" formControlName="demand">
                        <span class="help-block">Please enter demand of the month</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="textarea-input">Note</label>
                      <div class="col-md-9">
                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="You can add some notes..."
                          formControlName="note"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="createForecastModal.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="submitAddForecastData(); createForecastModal.hide()">Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>