<h1>Strichlistenverwaltung</h1>
<div *ngIf="password != 'blockadmin'">
<input name="input" class="input" matInput #message [(ngModel)]="password" maxlength="16" placeholder="neuer Benutzername">
</div>
<div *ngIf="password == 'blockadmin'">

<button name="button"  color="primary" class="button" mat-raised-button (click)="newTallySheet()">neue Strichliste</button>
<button name="button"  color="primary" class="button" mat-raised-button (click)="exportAsXLSX()">Strichliste exportierene</button>
<p>Strichliste Nr. {{tallySheetNr}} Erstellt am: {{strichlisteStartDatum}}</p>

</div>
