<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Search Query</h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-prepend">
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-search"></i> Search</button>
              </span>
              <input type="text" class="form-control" placeholder="Inout search query">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-10">
    <app-history></app-history>
    <app-shipping></app-shipping>
  </div>

  <div class="col-sm-6 col-md-2">
    <div class="card">
      <div class="card-header">
        General Information
      </div>
      <div class="card-body">


      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Even more information
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>





</div>